<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">Your cart</span>
  <span class="badge badge-primary badge-pill">{{ products.length }}</span>
</h4>
<ul class="list-group mb-3">
  <li
    class="list-group-item d-flex justify-content-between lh-condensed"
    *ngFor="let product of products"
  >
    <div>
      <h6 class="my-0">{{ product.productName }}</h6>
    </div>
    <span class="text-muted">
      {{ product.productPrice }}
      <img
        src=" https://firebasestorage.googleapis.com/v0/b/proftech-2003.appspot.com/o/prices%2F1617687169819_conn10.png?alt=media&token=f65c5e11-7a67-415c-aec6-72c7307f3ca4"
    /></span>
  </li>
  <hr />
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (SYMBOL)</span>
    <strong>
      {{ totalValue }}
      <img
        src=" https://firebasestorage.googleapis.com/v0/b/proftech-2003.appspot.com/o/prices%2F1617687169819_conn10.png?alt=media&token=f65c5e11-7a67-415c-aec6-72c7307f3ca4"
    /></strong>
  </li>
  <a class="btn btn-primary" [routerLink]="['/products/all-products']"
    >Continue Shipping</a
  >
  <a class="btn btn-default" [routerLink]="['/checkouts']">Checkout</a>
</ul>
