<div class="container">
  <ul class="list-group mb-3">
    <li
      class="list-group-item d-flex justify-content-between lh-condensed"
      *ngFor="let product of checkoutProducts"
    >
      <div>
        <img
          [src]="product.productImageUrl"
          [alt]="product.productName"
          width="150"
          height="100"
        />
      </div>
      <div style="padding: 10px">
        <h6 class="my-0">{{ product.productName }}</h6>
        <p>Product Seller : {{ product.productSeller }}</p>
      </div>
      <span class="text-muted">
        {{ product.productPrice }}
        <img
          src=" https://firebasestorage.googleapis.com/v0/b/proftech-2003.appspot.com/o/prices%2F1617687169819_conn10.png?alt=media&token=f65c5e11-7a67-415c-aec6-72c7307f3ca4"
      /></span>
    </li>
    <hr />
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (SYMBOL)</span>
      <strong>
        {{ totalPrice }}
        <img
          src=" https://firebasestorage.googleapis.com/v0/b/proftech-2003.appspot.com/o/prices%2F1617687169819_conn10.png?alt=media&token=f65c5e11-7a67-415c-aec6-72c7307f3ca4"
      /></strong>
    </li>
  </ul>
  <div class="float-right">
    <a
      class="btn btn-default"
      [routerLink]="['/checkouts', { outlets: { checkOutlet: ['result'] } }]"
      routerLinkActive="active"
      >Next</a
    >
  </div>
</div>
