<div *ngIf="!isCreatingMosaic">
  <div
    class="dropzone"
    app-dropzone
    (hovered)="toggleHover($event)"
    (dropped)="onDrop($event)"
    [class.hovering]="isHovering"
  >
    <form class="upload__container">
      <textarea
        name="message"
        #message="ngModel"
        cols="30"
        rows="5"
        [(ngModel)]="descriptionFile"
        placeholder="{{
          this.translate.data['TextAreaDescription'] | translate
        }}"
      ></textarea>
      <input
        type="text"
        [(ngModel)]="pictureName"
        placeholder="{{ this.translate.data['pictureName'] | translate }}"
      />
      <input
        type="number"
        [(ngModel)]="startPrice"
        placeholder="{{ this.translate.data['startPrice'] | translate }}"
      />
      <!-- <select
      name="selectedQuantity"
      id="aantal"
      class="form-control"
      [(ngModel)]="pathToBucket"
    >
      <option *ngFor="let option of options" [value]="option">{{
        this.translate.data[option] | translate
      }}</option>
    </select> -->
      <div>{{ this.translate.data["DRAG_DROP"] | translate }}</div>
      <!-- <input type="file" (change)="onChange($event)" /> -->
      <input
        style="display: none"
        type="file"
        (change)="onChange($event)"
        #hiddenfileUploadinput
      />

      <button
        (click)="hiddenfileUploadinput.click()"
        class="btn btn-primary btn-lg btn-block"
      >
        <i class="fa fa-file"></i>
        Upload file
      </button>
    </form>

    <!-- <button (click)="save()">Save</button> -->
  </div>

  <div *ngFor="let file of files">
    <app-upload-task
      [hasPrivateKey]="hasPrivateKey"
      [file]="file"
      [pathToBucket]="pathToBucket"
      [descriptionFile]="descriptionFile"
      [pictureName]="pictureName"
      [startPrice]="startPrice"
    ></app-upload-task>
  </div>
  <div *ngIf="files.length > 0">
    <div *ngIf="!hasPrivateKey">
      <div>
        For creating the NFT mosaic need to use the private key of the account
      </div>
      <input
        style="display: none"
        type="file"
        (change)="onFileSelect($event)"
        #hiddenfileinput
      />

      <button
        (click)="hiddenfileinput.click()"
        class="btn btn-primary btn-lg btn-block"
      >
        <i class="fa fa-key"></i>
        Use private key from QR code
      </button>
    </div>
  </div>
</div>
<app-loader-spinner *ngIf="!isCreatingMosaic">НГНГ</app-loader-spinner>
